@charset "utf-8";
/* CSS Document */


html, body,.row {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0;
	height:100%;
	background:#f3f3f3;
	font: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
}
img {
	display: block;
	width:100%;
	max-width: 100%;
}
#bigbox {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	min-height: 100%;
	background:#f3f3f3;
}
a:hover {
	color: #fff;
	text-decoration: none;
	outline: none;
}
a:visited {
	outline: none;
	}