
.tabs{
	width:100%;
	background: #fff;
	display: -webkit-flex;
	position: fixed;
	top:0;
	z-index: 999;
}
#tabs-container{
	margin-top: 44px;
}
.tabs a{
	flex:1;
	text-align: center;
	font-size: 14px;
	color: #414141;
	line-height: 3em;
	border-bottom: 1px solid #f3f3f3;
}
.tabs a:hover{
	text-decoration: none;
}
.tabs .active{
	border-bottom:2px solid #ff5c05;
	color: #ff5c05
}
.coupon{
	background: #fff;
	border-radius: 3px;
	border-bottom:3px solid #ff5c05;
	display: -webkit-flex;
	justify-content:space-between;
	align-items:center;
	padding: 0.3125rem;
	margin-bottom: 0.3125rem;
	position: relative;	
}
.coupon .huise{
	background: #999;
}
.swiper-slide{
	padding:0.3125rem;
}
.text-box .type{
	font-size: 16px;
	color: #161616;
	font-weight: 800;
}
.text-box .use{
	font-size: 14px;
	color: #999999;
	line-height: 2.4em;
}
.text-box .time{
	font-size: 12px;
	color: #ee1a33
}
.moeny{
	color: #ee1a33;
	font-size: 14px;
}
.moeny strong{
	font-size: 1rem;
	
}
.click-button{
	width:1.8rem;
	background: #ff5c05;
	line-height: 1rem;
	border: none;
	color: #fff;
	border-radius: 3px;
}


.used .click-button{
	background: #999;
}
.used-img{
	position: absolute;
	width: 1.8rem;
	height: 1.8rem;
	top:0.3125rem;
	left:30%;
}
.expired .time{
	color: #999999
}
.expired .moeny{
	color: #999999
}
.expired .click-button{
	background: #999;
}
.expired-img{
	position: absolute;
	width: 1.8rem;
	height: 1.8rem;
	top:0.3125rem;
	left:50%;
	margin-left: -0.9rem;
}
.pop-box{
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	top:0;
	position: fixed;
	z-index: 999999;
	display: none;
}
.pop-box .pop{
	width:80%;
	margin: 0 auto;
	margin-top: 40%;
	background: #fff;
	border-radius: 6px;
	padding-bottom: 20px;
}
.pop h1{
	font-size: 16px;
	line-height: 3em;
	text-align: center;
	color: #161616;
}
.pop .order-number{
	display: block;
	width: 80%;
	background: #e7e7e7;
	text-align: center;
	margin: 0 auto;
	border: none;
	line-height: 3em;
	border-radius: 3px;
}
.pop .submit-button{
	width:80%;
	margin: 0 auto;
	background: #ff5c05;
	margin-top: 15px;
	border: none;
	display: block;
	color: #fff;
	line-height: 3em;
	border-radius: 3px;
}
.pop .quxiao{
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 15px;
	color: #666666;
}
.pop .quxiao:hover{
	text-decoration: none;
}